.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  
  /* background-color: ; */
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}



.content {
  flex-grow: 1;
}

/* --------- Non-flexbox related styles --------- */
.child {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0.5%; */
  padding: 20px;
  font-size: 20px;
  /* background-color: #BCA0BC; 
  border-radius: 10px; */
  border: 1px solid #c0b9f9;
}

.sidebar {
  width: 20%;
  display: flex;
  align-items: start;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 30px;
}

ul {
  width: 100%;
  list-style-type: none;
}

li {
  padding: 8px;
  margin: 8px 0;
  text-align: left;
  color: #282c34;
}


header {
  background-color: #282c34;
  color: white;
}

.main {
  display: flex;
  min-height: 100vh;
}

a {
  color: #282c34;
  text-decoration: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(247, 241, 233);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

h1 {
  margin-bottom: 24px;
  color: #282c34;
}

.form-container {
  /* padding: 12px; */
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  
}

.form-container > * {
  flex: 1;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 4px;

  width: 100%;

}

.input-group > * {
  width: 100%;
  color: #282c34;
  /* outline: 1px solid lightcoral; */
}

.input-group > label {
  text-align: left;
  flex: 1;
}

input{
  flex: 5;
  font-family: inherit;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px 16px;
}

input:focus {
  outline: none;
  border: 2px solid #3939ec;
}

.label-danger {
  color: orangered;
  text-align: left;
  font-size: 16px;
}

.button-container {
  width: 100%;
  text-align: right;
}

button {
  padding: 8px 24px;
  margin: 8px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #4E4FEB;
  font-size: 18px;
  font-weight: 450;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3939ec;
}

.delete {
  background-color: rgb(241, 34, 34);
}

.action {
  margin-right: 16px;
}

.detail {
  background-color: #000;
}

.login-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .login-container > * {
  flex: 1;
} */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorMessage {
  width: 70%;
  border: 2px solid red;
  background-color: #ff33334f;
  padding: 16px 16px;
  color: red;
  text-align: left;
  border-radius: 4px;
}

.button-group > *{
  margin-right: 8px;
}

.background {
  background-color: #3939ec;
  border-radius: 16px;
  width: 100%;
  height: 30vh;
  background-image: url('https://img.freepik.com/premium-photo/blue-glass-abstract-background-with-pattern-blue-glass_869640-19383.jpg');
  background-repeat: no-repeat;
  /* overflow: hidden; */
  background-size: cover;

  position: relative;

  margin-bottom: 7vh;
}

.cover-image {
  position: absolute;
  top: 50%;
  left: 2%;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #c5ec39;
}

.background img {
  width: 100%;
  object-fit: cover;
}
/* header css */
