.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-color: #4C5F6B;
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}

/* --------- Non-flexbox related styles --------- */
.child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5%;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  color: #ffe8c3;
  background-color: #BCA0BC;
  border-radius: 10px;
  border: 10px solid #F9B9F2;
}

.sidebar {
  width: 20%;
  display: flex;
  align-items: start;

}

.content {
  width: 100%;
}

ul {
  width: 100%;
  list-style-type: none;
}

li {
  padding: 8px;
  margin: 8px 0;
  text-align: left;
  color: #282c34;
}